/**
 * @name Doffy-Theme
 * @author Zola
 * @version 1.0.X
 * @description A theme with Doflamingo from One Piece (Dressrosa Arc)
 * @source Later
 */

@import url('https://raw.githubusercontent.com/zolabeille67/BetterDiscord-ThemesAndPlugins/refs/heads/main/Themes/core.css');

:root{
     --background-image: url('https://i.imgur.com/DD8OAoL.jpeg');
     --activetext-colour: white;
 
     --primary1-colour: red;
     --primary2-colour: rgba(255,0,0,0.5);
     --primary3-colour: rgba(100,0,0,0.6);
     --primary4-colour: rgba(100,0,0,0.4);
 
     --secondary1-colour: rgba(50,50,50,0.3);
     --secondary2-colour: rgba(100,100,100,0.5);
     --secondary3-colour: rgba(0,0,0,0.6);
     --secondary4-colour: rgba(0,0,0,0.3);

}
  
/*
Theme Owned and Made by RoninGFX
  
Background Img: https://www.deviantart.com/roningfx/art/Donquixote-Doflamingo-One-Piece-648902218

The items above are not owned by me, They go to there respected owners 
*/
